:root{
	font-size:12px;
}
body{
	background-color:#4A4A4F;
	color:#eee;
	font-family:segoe ui,arial,sans-serif;
	margin:0;
	user-select: none;
}
header{
	font-size:0.85rem;
	background: linear-gradient(0deg, #333 20%, rgba(0,0,0,0) 100%);
	padding:1px;
	text-align:center;
}
#menu-content{
	min-width:100px;
	/* padding:2px; */
}
.row{
	background-color:#333;
	padding:2px 10px 2px 5px;
	margin:4px 0;
	background: linear-gradient(0deg, #333 30%, rgba(0,0,0,0) 100%);
}
.row span.link,.error span.link{
	margin-left:0.4rem;
	cursor:pointer;
	color:#7af
}
.row .time{
	text-align:right;
	font-weight:bold;
	font-size:0.9rem;
}
.error{
	text-align:center;
	color:#f88;
	padding:7px;
	font-weight: bold;
}
.button{
	margin:4px 1px;
	background-color:#333;
	cursor:pointer;
	border-radius:0.3rem;
	border:1px solid #222;
}
#unread-list{
	min-height:30px;
}
.when-empty{
	display:none;
	text-align:center;
	color:#888;
	padding:7px;
}
.when-empty:last-child{
	display:block;
}
#toolbar{
	padding:0 3px;
	position: sticky;
	bottom:0px;
	background-color:#4A4A4F;
}
#toolbar>.button{
	box-sizing:border-box;
	height:2.4rem;
	width:2.4rem;
	display:inline-block;
	font-size:1.5rem;
	vertical-align:middle;
	text-align:center;
	padding-top:0.3rem
}
#open-rr{
	background-image:url(../icons/icon-32.png);
	background-repeat: no-repeat;
	background-size:1.5rem 1.5rem;
	background-position:center;
}
.button:hover{
	background-color:#5C5C61;
}
.button:active{
	background-color:#646469;
	position:relative;
	top:1px;
	left:1px;
}
#time-since{
	float:right;
	margin-right:4px;
}
.hidden{
	display:none;
}
